body {
    background-color: #0081B9 !important;
    width: 100vw;
    height: 100vh;
    position: relative;
}

body::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 40px;
    width: 90px;
    height: 40px;
    background-image: url(../Images/roche2.png);
    background-position: center;
    background-size: cover;
}

body::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 100px;
    width: 120px;
    height: 140px;
    background-image: url(../Images/palmito.png);
    background-position: center;
    background-size: cover;
}

#header {
    background-image: url(../Images/parchemin_header.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px #000000;
    border-radius: 5px;
}

#header_titre {
    font-family: 'Ruthie', cursive;
    font-size: 54px;
    text-align: center;
}

#main {
    margin: 15px;
}

#regles {
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    font-size: 15px;
    color: #ffffff;
    padding: 15px;
}

.main_titre {
    font-size: 20px;
}

.capitaine_watson {
    color: #ffc700;
}

.regles_content {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px #000000;
    border-radius: 55px;
    
}

.pion1, .pion2, .pion3, .pion4 {
    height: 34px;
    width: 34px;
    border-radius: 100%;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    box-shadow: 0px 4px 4px #000000;
}

.pion1 {
    background-image: url(../Images/croix_noir.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.pion1::after {
    content: '10X';
    color: #ffffff;
    position: absolute;
    top: 0px;
    right: 40px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pion2 {
    background-image: url(../Images/pirate_1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.pion2::after {
    content: '3X';
    color: #ffffff;
    position: absolute;
    top: 0px;
    right: 40px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pion3 {
    background-image: url(../Images/poulpe.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.pion3::after {
    content: '2X';
    color: #ffffff;
    position: absolute;
    top: 0px;
    right: 40px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pion4 {
    background-image: url(../Images/baleine.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.pion4::after {
    content: '1X';
    color: #ffffff;
    position: absolute;
    top: 0px;
    right: 40px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.points {
    font-family: 'Pattaya', sans-serif;
    font-size: 13px;
    color: #000000;
    background-color: #ffc700;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0px 4px 4px #000000;
}


.btn-color {
    background-color: #ffc700 !important;
    font-family: 'Pattaya', sans-serif;
    box-shadow: 0px 4px 4px #000000;

}

.btn-volume{
    border: none;
    background-image: url(../Images/volument_off.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 208, 0);
    border-radius: 100%;
    height: 45px;
    width: 45px;
    display: flex;
}
.on{
    background-image: url(../Images/volume_on.png);
}

.off{
    background-image: url(../Images/volument_off.png);

}

#row_jeu {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.cellule {
    height: 80px;
    width: 80px;
    border: none;
    background-color: #ffc700;
}

#nameForm {
    text-align: center;
}

#niveau {
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.case_eau {
    background-image: url(../Images/croix_noir.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

.case_pion1 {
    background-image: url(../Images/baleine.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    padding: 3px;
}

.case_pion2 {
    background-image: url(../Images/poulpe.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;

}

.case_pion3 {
    background-image: url(../Images/pirate_1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

#message_fin {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-shadow: 0px 4px 4px #000000;
    color: #ffffff;
    font-family: 'Pattaya', sans-serif;
    font-size: 30px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

#image_de_fin {
    width: 200px;
}

@media (max-width: 400px){
    .cellule {
        height: 60px;
        width: 60px;
    }

    .case_eau, .case_pion1, .case_pion2, .case_pion3 {
        height: 60px;
        width: 60px;
    }

    body::after {
        left: 10px;
        width: 60px;
        height: 25px;
    }

    body::before {
        right: 40px;
        width: 80px;
        height: 80px;
    }

    .btn-volume {
        height: 30px;
        width: 30px;
    }
}